<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="" id="post" class="center">
        <label for="name">Nom</label>
        <input type="text" name="name" id="name">
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname" id="firstname">
        <label for="mail">Adresse mail</label>
        <input type="email" name="mail" id="mail">
        <label for="mail_confirm">Confirmez l'adresse mail</label>
        <input type="email" name="mail_confirm" id="mail_confirm">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <label for="password_confirm">Confirmez le mot de passe</label>
        <input type="password" name="password_confirm" id="password_confirm">
        <button class="btn btn-primary">Confirmer</button>
        <a href="/" class="btn btn-danger">Annuler</a>
    </form> 

</body>
</html>